/* The BOX MODEL is what describes the amount of space each element takes up on the page. */
/* FUN FACT!- When no border color is defined it inherits the text color of the content! */
* {
    box-sizing: border-box;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    background-color: rgb(38, 184, 184);
    color: ghostwhite;
    padding: 10px 20px;
    border: solid 6px slategray;
    border-radius: 12%;
    border-bottom-color: aqua;
    font-size: 1.5rem;
    text-align: center;
    /* margin: 0px -10px; */
}
article {
    margin-top: 4rem;;
}
body {
    font-family: "Gotham Rounded", Verdana;
    margin: 0;
}
main {
    margin: 8px;
}
#interesting-banner {
    position: sticky;
    z-index: 3;
    width: 100%;
    top: 0;
    padding: 10px 15px;
    border: 6px solid lightsalmon;
    background-color: firebrick;
    color: white;
    font-weight: bold;
    text-align: center;
}
aside img, figure, #bio {
    width: 100%;
    max-width: 500px;
}
figure {
    position: relative;
    z-index: 1;
    margin:0;
}
figcaption {
    position: absolute;
    width: 100%;
    bottom: 20px;
    background-color: yellow;
    text-align: center;
}
ul li {
    display: inline;
    background-color: red;
}
section {
    min-height: 100vh;
    padding: 1rem;
    border-bottom: 2px solid #777;
    background-color: azure;
}
#bio {
    padding: 10px 15px;
    border: slategrey 3px solid;
    background-color: aqua;
}
footer {
    width: 100%;
    padding: 5px 8px;
    border: 2px solid purple;
    margin: 30px auto 15px;
    color: orange;
    font-size: .8rem;
    text-align: center;
}