/* The BOX MODEL is what describes the amount of space each element takes up on the page. */
/* FUN FACT!- When no border color is defined it inherits the text color of the content! */
header {
    background-color: rgb(38, 184, 184);
    color: ghostwhite;
    padding: 15px 20px;
    border: solid 12px slategray;
    border-radius: 12%;
    border-bottom-color: aqua;
    /* margin: 0px -10px; */
}
body {
    margin: 0;
}
main {
    margin: 8px;
}
footer {
    width: 170px;
    padding: 5px 8px;
    border: 2px solid purple;
    margin: 30px 2px 15px;
}